* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url('sky.png'),no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid black;
  background: transparent;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}

h1 {
  margin-bottom: 1.5rem;
  color: #333;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

input[type="number"] {
  width: 45%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

input[type="number"]:focus {
  border-color: #000000;
}

input[type="number"]:hover {
  background-color: #cbdade;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #00c6fb;
}

#timerDisplay {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  background-color: greenyellow;
}